

.M-Header
    position:relatvie
    border-radius: 0
    height :50px;
    display: flex
    flex-direction: row
    background:#7adbcb
    align-content:center
    .logo-con

        height: 50px
        width:300px
        margin-left:10px
        margin-right: 65%
        margin-top:-0.6%
        h3
            width: 100%

    .Opt-con
        width:100px
        margin-left:20px
        padding-top: 15px
        padding-bottom: 15px
        cursor: pointer; 
        text-decoration: underline 
        :hover
            color: blue
        a
           text-decoration: underline 
           


            

